<div fxLayout="row" class="on-top">
  <mat-card fxFlex="100%" class="slim-padding" fxLayoutGap="1%" fxLayoutGap.xs="5%">
    <div fxFlex="4%">
      <button mat-icon-button>
        <i class="material-icons">menu</i>
      </button>
    </div>
    <div fxFlex="9%" fxFlex.xs="25%" fxFlexAlign="center">
      <button mat-button (click)="goToHomepage()">
        <span>Homepage</span>
      </button>
    </div>
    <div fxFlex="9%" fxFlex.xs="25%" fxFlexAlign="center">
      <button mat-button (click)="goToAllFilm()">
        <span>Tutti i film</span>
      </button>
    </div>
    <div fxFlex="9%" fxFlex.xs="25%" fxFlexAlign="center">
      <button mat-button>
        <span>Richiedi</span>
      </button>
    </div>
  </mat-card>
</div>